{% extends "aplicacion/main_template.html" %}

{% load static %}

{% block title %}<title>Comunidades</title>{% endblock %}

{% block content %}

    <div class="section__content section__content--p30">

        <div class="col-md-12">
                <h1>Eliminar un registro</h1> 
                <br>

                <p>¿Deseas eliminar a la Comunidad?: </p>
                <strong>"{{ comunidad }}"</strong>
                <br><br>

                    <form action="" method="POST">
                    {% csrf_token %}          
                    <a href="{% url 'aplicacion:comunidades' %}"><button type="button" class="btn btn-dark btn-sm">Cancelar</button></a> 
                    <button type="submit" class="btn btn-danger btn-sm">Confirmar</button>
                    <br>
                    </form>
        </div>          
   
    </div>
   
{% endblock content %}